<!-- stock/templates/stock/admin_dashboard.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Administrador</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stock/styles.css' %}">
</head>
<body>
    <h1>Bienvenido, Administrador</h1>
    <p>Aquí puedes gestionar la aplicación.</p>
    <a href="{% url 'logout' %}">Cerrar Sesión</a>
</body>
</html>
