<!-- stock/templates/stock/login.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'stock/styles.css' %}">
</head>
<body>
    <div class="login-form">
        <h1>Iniciar Sesión</h1>
        {% if form.non_field_errors %}
            <div class="error">{{ form.non_field_errors }}</div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <label for="username">Nombre de usuario:</label>
            <input type="text" name="username" required>
            <label for="password">Contraseña:</label>
            <input type="password" name="password" required>
            <button type="submit">Iniciar Sesión</button>
        </form>
    </div>
</body>
</html>
